{% if fs|length %}
    <div class="loading-bar">
        <div class="loading-knot"></div>
    </div>
{% endif %}
<div class="feeds-container">
{% if fs|length %}
    {% for f in fs %}
        <article class="feeds-slide{% if forloop.counter == 1%} active{% endif %}">
            <h1>{{ f.published }} - <a href="{{ f.link }}" target="_blank">{{ f.feed.title }}</a></h1>
            <p>{{ f.feed.summary | striptags | safe | truncatewords:50 }}</p>
        </article>
    {% endfor %}
{% else %}
    <p>Servizio momentaneamente non disponibile</p>
{% endif %}
</div>
<p class="text-right">
    <a href="{{ list_url }}" class="btn btn-custom" target="_blank">elenco completo</a>
</p>
{% if fs|length %}
<script type="text/javascript">
    (function ($, undefined) {
        var slides = $('.feeds-slide');
        var animate = function () {
            $( ".loading-knot" ).animate({
                width: "100%",
                queue: false
            }, 9000);
        }
        animate();
        setInterval(function () {
            $( ".loading-knot" ).animate({
                width: 0,
                queue: false
            }, 0);
            animate();
            var active = $('.feeds-slide.active');
            $(active).removeClass('active');
            if ($(active).next('.feeds-slide').length) {
                $(active).next('.feeds-slide').addClass('active');
            }
            else {
                $(slides[0]).addClass('active');
            }
        }, 9000)
    })(jQuery, undefined)
</script>
{% endif %}
