<section class="newsletter" style="border-right: 0px solid">
    <h1>Iscriviti alla nostra newsletter</h1>
    <p>Per ricevere aggiornamenti su nuove convenzioni, promozioni e offerte riservate agli iscritti UIL e ai loro famigliari.</p>
    <p>
        <a title="Iscriviti tramite Facebook" href="http://myt50.mailrouter.it/user/register_facebook">
            <span class="btn btn-primary" style="background: #3B5998"><i class="fa fa-facebook"></i> tramite facebook</span>
        </a>
    </p>
    <form action="https://myt50.mailrouter.it/user/register"  accept-charset="UTF-8" method="post">
        <div class="row">
            <div class="col-lg-6">
                <p>
                <input type="text" maxlength="64" name="mail" placeholder="e-mail" value="" class="form-control form-text required" required/>
                </p>
                <p>
                <input placeholder="categoria UIL" type="text" maxlength="255" name="profile_categoria_uil" value="" class="form-control form-text" />
                </p>
                <p>
                    <input placeholder="cap" type="text" maxlength="255" name="profile_cap_di_residenza" value="" class="form-text form-control" />
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                <input placeholder="nome" type="text" maxlength="255" name="profile_name" value="" class="form-control form-text" />
                </p>
                <p>
                <input placeholder="cognome" type="text" maxlength="255" name="profile_surname" value="" class="form-control form-text" />
                </p>
            </div>
        </div>
        <p>
        <input type="checkbox" name="privacy" value="1"   class="form-checkbox has-sibling-label" /><label style="display: inline; font-size: 0.8em;" class="option" for=""> Acconsento al trattamento dei miei dati personali (<a href="/cookie-policy/" target="_blank">leggi qui</a> la nostra politica sulla privacy e come trattiamo i tuoi dati)</label>
        </p>
        <p>
            <input type="submit" name="submit" value="Iscriviti"  class="btn btn-custom form-submit" />
            <input type="hidden" name="form_id" value="user_register"  />
        </p>
        <script type="text/javascript">
            var openPrivacyModal = function () {
                var modal = new core.Modal({
                    title: 'Trattamento dati personali',
                    content: "Ai sensi del d.lgs. 196/2003, La informiamo che: <br />a) titolare del trattamento è RTP Comunicazione, 10143 Torino, via Locana 13/L<br />b) responsabile del trattamento è RTP Comunicazione, 10143 Torino, via Locana 13/L<br />c) i Suoi dati saranno trattati (anche elettronicamente) soltanto dagli incaricati autorizzati, esclusivamente per dare corso all'invio della newsletter e per l'invio (anche via email) di informazioni relative alle iniziative del Titolare; <br />d) la comunicazione dei dati è facoltativa, ma in mancanza non potremo evadere la Sua richiesta; <br />e) ricorrendone gli estremi, può rivolgersi all'indicato responsabile per conoscere i Suoi dati, verificare le modalità del trattamento, ottenere che i dati siano integrati, modificati, cancellati, ovvero per opporsi al trattamento degli stessi e all'invio di materiale. Preso atto di quanto precede, acconsento al trattamento dei miei dati."
                });
                modal.open();
            }
        </script>
    </form>
</section>
