{% load core_tags %}
<section class="feeds">
    <h1>Notizie dalla {{ union }}</h1>
    <div id="news-feeds">
        <i class="fa fa-spinner fa-spin fa-2x" style="margin: 20px 10px 20px 0"></i> Caricamento in corso
    </div>
    <script>
        (function ($) {
            $.get('/newsfeeds/', function (res) {
                $('#news-feeds').html(res)
            })
        })(jQuery)
    </script>
</section>
