{% extends 'page.html' %}
{% load widget_tweaks %}
{% load flatpages %}

{% block title %}
Inserisci convenzione | {{ block.super }}
{% endblock %}

{% block section2_content %}
    <section>
        <h1>Inserisci una convenzione</h1>
        {% get_flatpages '/inserisci-convenzioni-prologo/' as pages %}
        {% for page in pages %}
            {{ page.content|safe }}
        {% endfor %}
        <p class="alert alert-info">I campi contrassegnati con l'asterisco sono obbligatori.</p>

        {% if form.errors %}
            <p class="alert alert-danger">Correggi gli errori nei campi evidenziati dalla cornice rossa.</p>
        {% endif %}
        {% if form.non_field_errors %}
            <ul class="form-error">
            {% for error in form.non_field_errors %}
                <li class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group" style="display: none">
                <input type="hidden" id='id_site' name="site" value="{{ site }}" />
            </div>
            <div class="form-group">
                <label class="required">Nome</label>
                {{ form.firstname|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Cognome</label>
                {{ form.lastname|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Telefono di contatto</label>
                {{ form.phone|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Sede sindacale</label>
                {{ form.head_office|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Nominativo referente/punto vendita della convenzione</label>
                {{ form.referer|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Data stipula convenzione</label>
                {{ form.begin_date|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label>Eventuale data di termine convenzione</label>
                {{ form.end_date|attr:"class:form-control" }}
            </div>

            <h2>Dati azienda</h2>

            <div class="form-group">
                <label class="required">Nome</label>
                {{ form.company_name|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Indirizzo</label>
                {{ form.company_address|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="form-group">
                <label class="required">Regione</label>
                {{ form.company_region|attr:"class:form-control c-select"|attr:"required" }}
            </div>
            <div class="form-group">
                <label>Provincia</label>
                {{ form.company_province|attr:"class:form-control c-select" }}
            </div>
            <div class="form-group">
                <label class="required">Nuova provincia</label>
                {{ form.company_province_other|attr:"class:form-control"|attr:"required" }}
                <p class="text-muted">Inserire la provincia qui se non presente nel menu a tendina</p>
            </div>
            <div class="form-group">
                <label>Comune</label>
                {{ form.company_city|attr:"class:form-control c-select" }}
            </div>
            <div class="form-group">
                <label class="required">Nuovo comune</label>
                {{ form.company_city_other|attr:"class:form-control"|attr:"required" }}
                <p class="text-muted">Inserire il comune qui se non presente nel menu a tendina</p>
            </div>
            <div class="form-group">
                <label class="required">Telefono</label>
                {{ form.company_phone|attr:"class:form-control"|attr:"required" }}
                <p class="text-muted">Inserire un numero fisso e/o mobile aziendale</p>
            </div>
            <div class="form-group">
                <label class="">Sito web (se disponibile)</label>
                {{ form.company_web|attr:"class:form-control" }}
            </div>
            <div class="form-group">
                <label class="">E-mail</label>
                {{ form.company_email|attr:"class:form-control" }}
            </div>
            <div class="form-group">
                <label>Categoria merceologica</label>
                {{ form.company_category|attr:"class:form-control c-select" }}
            </div>
            <div class="form-group">
                <label class="required">Nuova categoria</label>
                {{ form.company_category_other|attr:"class:form-control"|attr:"required" }}
                <p class="text-muted">Inserire la categoria qui se non presente nel menu a tendina</p>
            </div>
            <div class="form-group">
                <label>Categoria aggiuntiva (opzionale)</label>
                {{ form.company_category_other2|attr:"class:form-control" }}
            </div>
            <div class="form-group">
                <label class="required">Descrizione punto vendita, percentuale sconto/agevolazione (max 400 caratteri)</label>
                {{ form.company_description|attr:"class:form-control"|attr:"required"|attr:"maxlength:400" }}
            </div>
            <div class="form-group">
                <label class="required" for="id_beds">Inserisci il codice nell'immagine</label>
                {% if form.captcha.errors %}
                    <ul class="form-error">
                    {% for error in form.captcha.errors %}
                        <li class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{ error|escape }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {{ form.captcha|attr:"class:form-control"|attr:"required" }}
            </div>
            <p>
                <input type="submit" class="btn btn-custom" value="invia" name="submit_agreement" />
            </p>
        </form>
        {% get_flatpages '/inserisci-convenzioni-epilogo/' as pages %}
        {% for page in pages %}
            {{ page.content|safe }}
        {% endfor %}
        <script type="text/javascript">
            (function () {
                var dft = {% if SITE.SITE == 'UILMARCHE' %}13{% else %}1{% endif %};

                // default region Piemonte
                if (!$('#id_company_region').val()) {
                    $('#id_company_region').val(dft)
                }

                {% autoescape off %}
                var regions_dict = {{ regions_dict}};
                var provinces_dict = {{ provinces_dict }};
                {% endautoescape %}

                var proposalForm = function () {
                    var field = $(this).attr('id').substring(11);
                    var field_other = $('#id_company_' + field + '_other')
                    var label_other = field_other.prev('label')
                    if (field !== 'region') {
                        if (!$(this).val()) {
                            $(this).prev('label').removeClass('required');
                            $(this).removeAttr('required');
                            label_other.attr('required', 'required');
                            if (!label_other.hasClass('required')) {
                                label_other.addClass('required')
                            }
                        } else {
                            $(this).attr('required', 'required');
                            if (!$(this).prev('label').hasClass('required')) {
                                $(this).prev('label').addClass('required');
                            }
                            label_other.removeClass('required');
                            field_other.removeAttr('required')
                        }
                    }

                    var val = $(this).val()
                    if (field == 'region') {
                        if (!val) {
                            $('#id_company_province option').each(function (index, opt) {
                                if($(opt).val()) {
                                    $(opt).css('display', 'none')
                                }
                            })
                        } else {
                            $('#id_company_province option').each(function (index, opt) {
                                if ($.inArray(parseInt($(opt).attr('value')), regions_dict[val]) != -1 || $(opt).attr('value') == '') {
                                    $(opt).css('display', '')
                                } else {
                                    $(opt).css('display', 'none')
                                }
                            })
                        }
                        if ($.inArray(parseInt($('#id_company_province').val()), regions_dict[val]) == -1) {
                            $('#id_company_province').val('');
                        }
                        $('#id_company_province').trigger('change');
                    }
                    if (field == 'province') {
                        if (!val) {
                            $('#id_company_city option').each(function (index, opt) {
                                if($(opt).val()) {
                                    $(opt).css('display', 'none')
                                }
                            })
                        } else {
                            $('#id_company_city option').each(function (index, opt) {
                                if ($.inArray(parseInt($(opt).attr('value')), provinces_dict[val]) != -1 || $(opt).attr('value') == '') {
                                    $(opt).css('display', '')
                                } else {
                                    $(opt).css('display', 'none')
                                }
                            })
                        }
                        if ($.inArray($('#id_company_city').val(), provinces_dict[val]) == -1) {
                            $('#id_company_city').val('');
                        }
                    }
                }

                $('#id_company_region, #id_company_province, #id_company_city, #id_company_category').on('change', proposalForm);
                $('#id_company_region, #id_company_province, #id_company_city, #id_company_category').each(function (index, el) {
                    proposalForm.call(el);
                });

            })()
        </script>
    </section>
{% endblock %}
