{% extends 'page.html' %}
{% load flatpages %}

{% block title %}
Inserisci convenzione | {{ block.super }}
{% endblock %}

{% block section2_content %}
    <section>
        <h1>Inserimento convenzione</h1>
        {% get_flatpages '/inserisci-convenzioni-inviata/' as pages %}
        {% for page in pages %}
            {{ page.content|safe }}
        {% endfor %}
        <p>
            <a href="/inserisci-convenzioni/" class="btn btn-primary">Inserisci una nuova convenzione</a>
            <a href="/" class="btn btn-primary">Vai in home page</a>
        </p>
    </section>
{% endblock %}
