{% extends 'page.html' %}

{% block title %}
Suggerimenti | {{ block.super }}
{% endblock %}

{% block section2_content %}
    <section>
        <h1>Suggerimenti</h1>
        <p>Compila il form sottostante per inviarci suggerimenti riguardo nuove convenzioni:</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input required type="email" class="text form-control" value="" name="email" id="id_email" placeholder="e-mail" />
            </div>
            <div class="form-group">
                <textarea style="min-height: 140px" required name="message" class="form-control" id="id_message" placeholder="Scrivi qui i tuoi suggerimenti (es. il nome di un nuovo negozio, una categoria mancante, una zona in cui vorresti ci fossero esercizi convenzionati ecc. Se aggiungi anche il tuo numero di telefono, ti chiameremo per farci spiegare meglio il tuo suggerimento o per rispondere subito ad una tua richiesta)"></textarea>
            </div>
            <div class="form-group">
                <label>Codice di controllo: </label><br />
                {% if form.captcha.errors %}
                <div class="alert alert-danger">
                    {{ form.captcha.errors }}
                </div>
                {% endif %}
                {{ form.captcha }}
            </div>
            <p>
                <input type="submit" class="btn btn-custom" value="invia" name="submit_suggestions" />
            </p>
        </form>
    </section>
{% endblock %}
