{% extends 'page.html' %}

{% block title %}
Suggerimenti | {{ block.super }}
{% endblock %}

{% block section2_content %}
    <section>
        <h1>Suggerimenti</h1>
        <p class="alert alert-info">Grazie! La tua segnalazione è stata inviata correttamente.</p>
    </section>
{% endblock %}
