{% extends 'page.html' %}
{% load agreements_tags %}

{% block title %}
Ooops 404 | {{ block.super }}
{% endblock %}

{% block section1 %}
    <section class="section-1 agreements {% block section1_extra_class %}{% endblock %}">
        <div class="container">
            {% search_agreement_form %}
        </div>
    </section>
{% endblock %}

{% block section2_content %}
    <section>
        <h1>404 - Pagina non trovata</h1>
        <p><strong>Benvenuto!</strong></p>
        <p>Purtroppo la pagina che stai cercando è stata spostata per poter rinnovare e rendere più fruibile il nostro sito. Puoi utilizzare il form di ricerca qui sopra per ricercare direttamente il punto convenzionato che ti interessa.</p>
        <p><a class="btn btn-custom" href="/">Home Page</a></p>
    </section>
{% endblock %}
