{% load static %}
{% load pipeline %}
{% load core_tags %}
{% load treenav_tags %}
{% load ads_tags %}
{% load news_tags %}
{% load core_tags %}
{% load agreements_tags %}
{% load flatpages %}
{% load home_blocks_tags %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}{{ SITE.TITLE }}{% endblock %}</title>
        {% block meta %}
            <meta name="title" content="{% block meta_title %}{{ SITE.TITLE }}{% endblock %}" />
            <meta name="description" content="{% block meta_description %}{{ SITE.DESCRIPTION }}{% endblock %}" />
            <meta name="keywords" content="{% block meta_keywords %}{{ SITE.KEYWORDS }}{% endblock %}" />

            <meta property="og:title" content="{% block meta_og_title %}{{ SITE.TITLE }}{% endblock %}" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{% block meta_og_url %}{{ SITE.URL }}{% endblock %}" />
            <meta property="og:description" content="{% block meta_og_description %}{{ SITE.DESCRIPTION }}{% endblock %}" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:url" content="{% block meta_tw_title %}{{ SITE.URL }}{% endblock %}" />
            <meta name="twitter:title" content="{% block meta_tw_url %}{{ SITE.TITLE }}{% endblock %}" />
            <meta name="twitter:description" content="{% block meta_tw_description %}{{ SITE.DESCRIPTION }}{% endblock %}" />
            {% block meta_extra %}{% endblock %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Exo:100,100i,300,300i,400,400i,600,700,800,900" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href='https://cookierulez.sqrt64.it/static/widget/css/widget.css' rel='stylesheet' type='text/css' />
        {% stylesheet 'vendor' %}
        {% if SITE.SITE == 'CISL' %}
            {% stylesheet 'convenzioni-cisl' %}
        {% elif SITE.SITE == 'UIL' %}
            {% stylesheet 'convenzioni-uil' %}
        {% else %}
            {% stylesheet 'convenzioni-uilmarche' %}
        {% endif %}
        {% block extra_css %}{% endblock %}
        <script src="{% static 'core/src/vendor/jquery/jquery.js' %}"></script>
        <script src="{% static 'core/src/js/jquery.form.js' %}"></script>
        {% javascript 'vendor' %}
        {% javascript 'convenzioni-cisl-uil' %}
        {% block extra_js %}{% endblock %}
        {% block schema %}{% endblock %}
        {% if not DEBUG %}
            {% if SITE.GA %}
            <!-- google analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ SITE.GA }}"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', '{{ SITE.GA}}', { 'anonymize_ip': true });
            </script>
            <!-- end google analytics -->
            {% endif %}
        {% endif %}
    </head>
    <body class="{% block body_css %}{% endblock %}">
        {% block navbar %}
            <nav class="navbar">
                <div class="container">
                    <button class="navbar-toggler pull-right hidden-lg-up" type="button" onclick="$(body).toggleClass('show-menu')">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{{ SITE.LOGO }}" alt="logo" /></a>
                    <div class="collapsing-navbar">
                        <!--
                        <form method="post" class="search-site">
                            <input class="form-control" placeholder="cerca nel sito..." name="keyword" />
                            <i class="fa fa-search"></i>
                        </form>
                        -->
                        <div class="main-menu-container">
                            {% show_treenav SITE.MENU full_tree="True" %}
                        </div>
                    </div>
                </div>
            </nav>
            {% if user.is_authenticated %}
                <div style="background: #f7f7f7;">
                    <div class="container">
                        <p class="text-right" style="margin: 10px 0;"><a class="btn btn-primary" href="/logout/"><i class="fa fa-user"></i> {{ user.username }} logout</a></p>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% block jumbotron %}{% endblock %}
        {% block content %}
            {% block section1 %}
                <section class="section-1 agreements {% block section1_extra_class %}{% endblock %}">
                    <div class="container">
                        {% search_agreement_form %}
                    </div>
                </section>
            {% endblock %}
            {% block section2 %}
                <div class="section-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-push-4{% block section2_col1_extra_class %}{% endblock %}">
                                {% block section2_content %}
                                    {% news_evidence_showcase %}
                                    {% news_showcase %}
                                    {% home_block %}
                                {% endblock %}
                            </div>
                            <div class="col-md-4 col-md-pull-8{% block section2_col2_extra_class %}{% endblock %}">
                                {% ads_high_relevance %}
                                {% blog_featured %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block section3 %}
                <div class="section-3">
                    <div class="container">
                        <div class="row">
                            <div class="{% if SITE.SITE != 'UIL'%}col-md-6{% else %}col-md-12{% endif %}">
                                {% if SITE.SITE == 'CISL' %}
                                    {% newsletter_registration_form_cisl %}
                                {% elif SITE.SITE == 'UIL'%}
                                    {% newsletter_registration_form_uil %}
                                {% elif SITE.SITE == 'UILMARCHE'%}
                                    {% newsletter_registration_form_uilmarche %}
                                {% endif %}
                            </div>
                            {% if SITE.SITE != 'UIL'%}
                                <div class="col-md-6">
                                    {% news_feeds %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block section4 %}
                <div class="section4 {% block section4_extra_class %}{% endblock %}">
                    {% ads_low_relevance %}
                </div>
            {% endblock %}
        {% endblock %}
        <footer class="footer">
            <div class="container">
                <section class="social">
                    <p class="text-center">
                        <a class="btn btn-footer" href="{{ SITE.FACEBOOK_URL }}" target="_blank"><i class="fa fa-facebook-square"></i> Seguici anche su facebook</a>
                    </p>
                </section>
                <section class="sitemap">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="envelope"><i class="fa fa-envelope fa-3x"></i></p>
                        </div>
                        <div class="col-lg-8">
                            <p class="emails">
                                Per informazioni generiche: <a href="mailto:{{ SITE.MAIL_INFO }}">{{ SITE.MAIL_INFO }}</a><br />
                                Informazioni commerciali per Aziende: <a href="mailto:{{ SITE.MAIL_MARKETING }}">{{ SITE.MAIL_MARKETING }}</a><br />
                                <strong><a href="{% url 'suggestions' %}">CLICCA QUI</a></strong> per suggerire l'inserimento di una nuova convenzione
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <section>
                <p class="text-center"><a href="/admin/">Area Riservata</a> | <a href="javascript:void(0)" onclick="cookierulez.CookieLayer.open();">Impostazioni Cookie</a> | <a href="/cookie-policy/">Privacy & Cookie</a> | Powered by <a href="http://www.rtpcomunicazione.it/">RTP Comunicazione</a></p>
            </section>
        </footer>

        <section id="dynamicModal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h1 class="modal-title"></h1>
                    </div>
                    <div class="modal-body" id="dynamic-modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                        <button type="button" class="btn btn-primary btn-action">Conferma</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </section><!-- /.modal -->

        {% if not DEBUG %}
            <!--Start Cookie Script-->
            <script
                type="text/javascript"
                src="{{ SITE.COOKIE_RULEZ }}"></script>
            <!--End Cookie Script-->
        {% endif %}
{% block tawk %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='{{ SITE.TAWK_KEY }}';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% endblock %}
    </body>
</html>
