// scss-lint:disable all
$shadow-color: #ccc;
$loading-bg: #333;
$loading-color: rgba(237, 103, 12, .7);
$banner-main-bg: #fafafa;

/* ads */
.banner-main {
  background: $banner-main-bg;
  padding: 15px;
  margin-bottom: 15px;
}

.banner {
  display: block;
  margin: 4px;
  background: #fff;
}

.banner-high-relevance {
  box-shadow: 5px 6px 10px $shadow-color;
}

.banner-low-relevance {
  display: inline-block;
  margin: 0 20px;

  img {
    height: 80px;
  }
}

/* news */
.news-showcase {
    position: relative;
    article {
        clear: both;
        padding: 20px 0 0;
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        z-index: 0;
        opacity: 0;
        transition: opacity 1.2s ease;
    }
    article.active {
        position: relative;
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
    h1 span {
        color: #666;
    }
    article h1 {
        font-size: 1.6rem;
        .fa {
            font-size: 1.5rem;
        }
    }
    .ctrls {
        align-items: center;
        justify-content: centeR;
        dispaly: flex;
        flex-direction: row;
        margin-top: 5px;
        text-align: center;
        padding-bottom: 10px;
        position: relative;

        .dot {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 2px solid $news-dot-bg;
            display: inline-block;
            cursor: pointer;
        }
        .dot.active {
            background: $news-dot-bg;
            border: 2px solid $news-dot-bg;
        }
        a {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }

    .news-showcase-text p {
      margin-bottom: 5px;
    }

    .readall {
      display: block;
      margin-bottom: 10px;
    }
}

.evidence-showcase {
    position: relative;
    padding: 10px 0;

    article {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ddd;
        border: 1px solid #ddd;
        padding: 20px 0 0;
        position: absolute;
        top: 58px;
        margin: 0;
        min-height: 300px;
        z-index: 0;
        opacity: 0;
        transition: opacity 1.2s ease;
        width: 100%;
    }
    article.active {
        position: relative;
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }

    article h1 {
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      padding: 1rem;
      background: rgba(255, 255, 255, .85);
      width: 100%;
    }

    h1 span {
        color: #666;
    }
    article h1 {
        font-size: 1.4rem;
        .fa {
            font-size: 1.2rem;
        }
    }
    .ctrls {
        margin-top: 1rem;
        text-align: center;
        padding-bottom: 10px;
        position: absolute;
        width: 100%;
        z-index: 1000;

        .dot {
            border-radius: 50%;
            border: 2px solid $news-dot-bg;
            width: 20px;
            height: 20px;
            background: #fff;;
            display: inline-block;
            cursor: pointer;
        }
        .dot.active {
            background: $news-dot-bg;
        }
        a {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }

    .evidence-showcase-text p {
      margin-bottom: 5px;
    }

    .readallp {
      margin-top: 3rem;
    }

    .readall {
      display: block;
      margin-bottom: 10px;
    }
}

.readallp {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

/* agreements */
.agreements {
  background: url($bg-url-agreement) no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;

  @include media-breakpoint-up(sm) {
    .col-2 {
      // text-align: right;
    }

    select, input {
      display: inline-block !important;
    }
  }

  @include media-breakpoint-up(md) {
    .col-1 {
      text-align: left;

      label {
        text-align: right;
        width: 90px;
      }
    }
    .col-2 {
      // text-align: right;
    }
  }

  h1, label, p {
    color: $white;
  }

  form {
    margin-top: 30px;
  }

  h1 {
    font-size: 34px;
  }

  p {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  select, input, label {
    display: block;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  .submit-col-1 {
    display: block !important;
    margin-top: 15px;

    @include media-breakpoint-up(xl) {
      display: inline-block !important;
      margin-top: 0;
    }
  }

  .submit-col-2 {
    display: block !important;
    margin-top: 15px;

    @include media-breakpoint-up(xl) {
      display: inline-block !important;
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

.agreements-detail {
  dt, dd {
    background: #fafafa;
    border: 1px solid #f7f7f7;
    padding: 8px;
  }
  dd + dt {
    margin-top: 20px;
  }
  .agreements-map {
    height: 300px;
    @include media-breakpoint-up(lg) {
      height: 500px;
    }
  }

  .tab-pane {
    padding: 0;
    border-width: 0;

    @include media-breakpoint-up(md) {
      padding: 20px;
      border: 1px solid #ddd;
      border-top: 0;
    }
  }
}

.agreements-list {
  .card-columns {
    -moz-column-count: 1;
    -moz-column-gap: 1.25rem;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.25rem;
    column-count: 1;
    column-gap: 1.25rem;

    @include media-breakpoint-up(sm) {
      -moz-column-count: 2;
      -moz-column-gap: 1.25rem;
      -webkit-column-count: 2;
      -webkit-column-gap: 1.25rem;
      column-count: 2;
      column-gap: 1.25rem;
    }

    .card {
      display: inline-block;
      margin-bottom: 0.75rem;
      width: 100%;
    }
  }
}

.newsletter {
  color: $newsletter-txt-color;
  padding-right: 25px;

  @include media-breakpoint-up(md) {
    border-right: 1px solid $white;
  }

  h1 {
    color: $newsletter-txt-color;
  }

  a:hover {
    color: $white;
  }
}

.feeds {
  color: $feeds-color;

  h1 {
    color: $feeds-color;
  }

  article h1 {
    font-size: 20px;
    margin-top: 8px;
  }

  a:hover {
    color: $white;
  }
}
.feeds-container {
  position: relative;

  .feeds-slide {
    padding: 0px 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;

    &.active {
      position: relative;
      visibility: visible;
    }
  }
}
.loading-bar {
  height: 2px;
  background: $loading-bg;
  padding: 0;
  margin: 14px 20px 0;
}
.loading-knot {
  background: $loading-color;
  width: 0;
  height: 2px;
}

.newsletter-overlay {
  align-items: center;
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: .5s all linear;
  z-index: 100;

  &.ready {
    display: flex;
  }

  &.active {
    opacity: 1;
  }

  .newsletter-modal {
    background: rgba(230, 230, 255, .9);
    max-width: 90%;
    padding: 2rem;
    text-align: center;
    width: 500px;
  }
}

.blog-featured {
  background: $blog-featured-bg;
  border-radius: 20px;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;

  > h1 {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 2.3rem !important;
  }

  h1 {
    color: #fff;
    font-size: 1.3rem;
  }

  .btn-custom {
    background: $blog-featured-btn-bg;
    color: $blog-featured-btn-fg;
    text-transform: uppercase;
    font-weight: bold;
  }

  a {
    color: $blog-featured-btn-bg;
  }
}
