// scss-lint:disable QualifyingElement VendorPrefix
$white: #fff;
$black: #000;
$panel-border-color: #ddd;

body {
  font-family: 'Exo', sans-serif;
  left: 0;
  position: relative;
  transition: all .3s linear;

  &.show-menu {
    left: -280px;
    overflow: hidden;
    position: relative;
  }
}

.only-app {
  display: none;
}

section {
  padding: 10px;
}

h1 {
  color: $h1-color;
  font-size: 2.3rem;
  font-weight: bold !important;
}

a {
  color: $link-color;
}

.not-visible {
  visibility: hidden;
}

.img-centered {
  margin: auto;
}

.two-columns {
  @include media-breakpoint-up(lg) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.tab-pane {
  border: 1px solid $panel-border-color;
  border-top: 0;
  padding: 20px;
  position: relative;
  top: -1px;
}

.btn-custom {
  background: $btn-bg;
  border-radius: 4px;
  color: $btn-color;
}

.share {
  margin: 20px 0;
  text-align: right;

  a {
    float: right !important; // scss-lint:disable ImportantRule
  }
}

.section-3 {
  background: url($bg-section-3) no-repeat center center;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn-footer {
  background: $footer-fb-color;
  border-color: $footer-fb-color;
  color: $white !important; //scss-lint:disable ImportantRule
}

.footer {
  background: $bg-footer;
  color: $footer-txt-color;
  padding-top: 20px;

  .fa-envelope {
    color: $footer-icon-color;
  }

  .social {
    border-bottom: 1px solid $white;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  a {
    color: $footer-link-color;
  }

  .envelope {
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }

  .emails {
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;

      a {
        display: inline !important; // scss-lint:disable ImportantRule
      }

      br {
        display: inline !important; // scss-lint:disable ImportantRule
      }
    }

    a {
      display: block;
    }

    br {
      display: none;
    }
  }
}

// docs
li.doc,
dt.doc {
  list-style-type: none;

  &::before {
    content: '';
    display: inline-block;
    font-family: 'FontAwesome';
    font-weight: normal;
    margin-right: 8px;
  }
}

li.doc-pdf,
dt.doc-pdf {
  &::before {
    content: '';
  }
}

li.doc-zip,
dt.doc-zip,
li.doc-rar,
dt.doc-rar {
  &::before {
    content: '';
  }
}

li.doc-txt,
dt.doc-txt,
li.doc-rtf,
dt.doc-rtf {
  &::before {
    content: '';
  }
}

li.doc-doc,
dt.doc-doc,
li.doc-docx,
dt.doc-docx,
li.doc-odt,
dt.doc-odt {
  &::before {
    content: '';
  }
}

li.doc-jpg,
dt.doc-jpg,
li.doc-png,
dt.doc-png,
li.doc-jpeg,
dt.doc-jpeg {
  &::before {
    content: '';
  }
}

// slideshow
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 80px;
  margin-top: -42px;
  text-shadow: 0 0 5px $black;
}

.agreements-list {
  .card-header {
    background: $card-header-bg !important;
    color: $card-header-fg !important;
  }
}
