// scss-lint:disable NestingDepth
$color-menu-pipe: #ccc;

body > .navbar {
  background: $bg-navbar;
}

.depth-1 {
  left: auto !important;
  margin-top: 0 !important;
  top: auto !important;

  li {
    border-left: 0px solid !important;
    float: none !important;

    a {
      font-size: 16px !important;
    }

    a:before {
      content: '' !important;
    }
  }
}

.navbar-nav {
  @include media-breakpoint-up(lg) {
    margin-top: 32px;
  }
}

.navbar-brand img {
  height: 40px;

  @include media-breakpoint-up(sm) {
    height: 50px;
  }

  @include media-breakpoint-up(md) {
    height: 75px;
  }
}

.navbar-toggler {
  color: $color-menu-voice;
  font-size: 26px;
}

.collapsing-navbar {
  height: 100%;
  position: fixed;
  right: -280px;
  top: 0;
  transition: right .3s linear;
  width: 280px;

  @include media-breakpoint-up(lg) {
    float: right;
    position: static;
    width: auto;

    .main-menu-container {
      float: right;
    }
  }

  .nav-item {
    border-left: 5px solid $color-menu-pipe;
    float: none;
    margin-left: 1rem;
    padding-left: 14px;

    @include media-breakpoint-up(lg) {
      border-left: 0;
      float: left;
      margin-left: 0 !important; // scss-lint:disable ImportantRule

      &:first-child {
        a::before {
          content: '' !important; // scss-lint:disable ImportantRule
        }
      }
    }
  }

  .nav-link {
    color: $color-menu-voice;
    font-size: 20px;

    @include media-breakpoint-up(lg) {
      &::before {
        color: $color-menu-pipe;
        content: '|';
        display: inline-block;
        padding: 0 14px 0 0;
      }
    }
  }

  .search-site {
    border-left: 5px solid $color-menu-pipe;
    margin-left: 1rem;
    margin-top: 15px;
    padding-left: 15px;

    @include media-breakpoint-up(lg) {
      border: 0;
      float: right;
      margin-right: 0;
      margin-top: 0;
    }

    input {
      display: inline-block;
      width: 150px;
    }
  }
}

.show-menu {
  .collapsing-navbar {
    right: 0;
  }
}
