// uil
$bg-navbar: #fff;
$bg-partners: #86d1f1;

$btn-bg: #117eea;
$btn-color: #fff;

$h1-color: #002859;
$link-color: #ed670c;

$color-menu-voice: #017cbf;

$news-dot-active-border: #117eea;
$news-dot-bg: #86d1f1;

$bg-url-agreement: '../../uil/img/bkgA_sitoUIL.jpg';
$bg-section-3: '../../uil/img/bkgB_sitoUIL.jpg';

$newsletter-txt-color: #fff;

$feeds-color: #fff;

$blog-featured-bg: #078c32;
$blog-featured-btn-bg: #e8e22e;
$blog-featured-btn-fg: #000;

$bg-footer: #58a7e8;
$footer-txt-color: #fff;
$footer-icon-color: #fff;
$footer-fb-color: #054c7c;
$footer-link-color: #054c7c;

$card-header-bg: #054c7c;
$card-header-fg: #fff;
