// cisl
$bg-navbar: #fff;
$bg-partners: #428e6d;

$btn-bg: #73e51a;
$btn-color: #000;

$h1-color: #00643e;
$link-color: #ed670c;

$color-menu-voice: #00643e;

$news-dot-active-border: #00643e;
$news-dot-bg: #428e6d;

$bg-url-agreement: '../../cisl/img/bkgA_sitoCISL.jpg';
$bg-section-3: '../../cisl/img/bkgB_sitoCISL.jpg';

$blog-featured-bg: #da1935;
$blog-featured-btn-bg: #e8e22e;
$blog-featured-btn-fg: #000;

$newsletter-txt-color: #fff;

$feeds-color: #fff;

$bg-footer: #bcc1bf;
$footer-txt-color: #000;
$footer-icon-color: #fff;
$footer-fb-color: #428e6d;
$footer-link-color: #428e6d;

$card-header-bg: #428e6d;
$card-header-fg: #fff;
