<section class="partners">
    <h1>Partners</h1>
    {% if main %}
    <div class="row banner-main">
        <div class="col-xs-8 col-xs-offset-2">
            <a class="banner banner-high-relevance" href="{% url 'ads-trace-url' main.id %}">
                <img src="{{ main.image.url }}" class="img-responsive" alt="{{ main.client }}">
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
    {% for banner in banners %}
        <div class="col-xs-6">
            <a class="banner banner-high-relevance" href="{% url 'ads-trace-url' banner.id %}">
                <img src="{{ banner.image.url }}" class="img-responsive" alt="{{ banner.client }}">
            </a>
        </div>
    {% endfor %}
    </div>
</section>
