<section class="partners-low">
    <div class="container text-center">
        {% for banner in banners %}
                <a class="banner banner-low-relevance" href="{% url 'ads-trace-url' banner.id %}">
                    <img class="img-responsive" src="{{ banner.image.url }}" class="img-responsive" alt="{{ banner.client }}">
                </a>
        {% endfor %}
    </div>
</section>
