{% extends 'page.html' %}
{% load sorl_thumbnail %}
{% load bootstrap_pagination %}
{% load static %}

{% block title %}
Blog | {{ block.super }}
{% endblock %}

{% block body_css %}blog{% endblock body_css %}


{% block section2_content %}
<section class="">
    <h1>Convenzioni Blog</h1>
    <div class="row">
        {% for entry in object_list %}
            <div class="col-lg-12">
                <div class="card" onclick="location.href='{{ entry.get_absolute_url }}'" style="cursor: pointer;">
                    {% sorl_thumbnail entry.image "800x300" crop="center" as im %}
                        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <div class="card-block">
                        <h4 class="card-title text-center">{{ entry.title }}</h4>
                        <div class="text-center card-body">
                            {{ entry.text|safe|truncatewords_html:55 }}
                        </div>
                    </div>
                    <div class="card-footer text-muted clearfix text-center">
                        <a href="{{ entry.get_absolute_url }}">Continua a leggere...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <div class="text-center">
            {% bootstrap_paginate page_obj range=10 %}
        </div>
    {% endif %}
</section>
{% endblock %}
