{% extends 'blog/archive.html' %}
{% load sorl_thumbnail %}
{% load bootstrap_pagination %}

{% block title %}
    Pubblicati in in {{ tag }} | {{ block.super }}
{% endblock %}

{% block section2_content %}
<section class="main-content card-list blog-card-list">
    <h1>Articoli pubblicati in "{{ tag }}"</h1>
    <p>
        <a href="/blog/">Tutti gli articoli</a>
    </p>
    {% if object_list.count %}
        <div class="row">
            {% for e in object_list %}
                <div class="col-md-12">
                    <div class="card" onclick="location.href='{{ e.get_absolute_url }}'">
                        {% sorl_thumbnail e.image "800x300" crop="center" as im %}
                            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}
                        <div class="card-block">
                            <h4 class="card-title text-center">{{ e.title }}</h4>
                            <div class="text-center card-body">
                                {{ e.text|safe|truncatewords_html:55 }}
                            </div>
                        </div>
                        <div class="card-footer text-muted clearfix text-center">
                            <a href="{{ e.get_absolute_url }}">Continua a leggere...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% bootstrap_paginate page_obj %}
        {% endif %}
    {% else %}
        <p class="alert alert-info">
            La ricerca non ha prodotto risultati
        </p>
    {% endif %}
</section>
{% endblock %}
