{% extends 'blog/archive.html' %}
{% load static %}
{% load sorl_thumbnail %}
{% load core_tags %}
{% load disqus_tags %}

{% block title %}
{{ entry.title }} | {{ block.super }}
{% endblock %}

{% block meta %}
<meta name="description" content="{% autoescape on %}{{ entry.text|striptags|slice:":152" }}...{% endautoescape %}" />
<meta property="og:title" content="{{ entry.title }}"/>
<meta property="og:type" content="article" />
{% if entry.image %}
    <meta property="og:image" content="{{ base_url }}{{ entry.image.url }}" />
{% endif %}
<meta property="og:url" content="{{ entry.get_full_absolute_url }}" />
<meta property="og:description" content="{% autoescape on %}{{ entry.text|striptags|slice:":294" }}...{% endautoescape %}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="{{ entry.get_full_absolute_url }}" />
<meta name="twitter:title" content="{{ entry.title }}"/>
<meta name="twitter:description" content="{% autoescape on %}{{entry.text|striptags|slice:":197" }}...{% endautoescape %}"/>
{% if entry.image %}
    <meta property="twitter:image" content="{{ base_url }}{{ entry.image.url }}" />
{% endif %}
{% endblock %}

{% block schema %}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "{{ entry.title|escapejs }}",
  "headline" : "{{ entry.title|escapejs }}",
  "datePublished" : "{{ entry.get_time_attribute }}",
  "dateModified" : "{{ entry.get_time_attribute }}",
  "image" : "{{ entry.image_abs }}",
  "author" : {
    "@type" : "Person",
    "name": "{{ entry.author }}"
  },
  "publisher" : {
    "@type" : "Organization",
    "name": "{{ SITE.TITLE }}",
    "url": "{{ SITE.URL }}",
    "logo": {
        "@type" : "ImageObject",
        "url": "{{ SITE.URL }}{{ SITE.LOGO }}"
    }
  }
}
</script>
{% endblock schema %}

{% block section2_content %}
<section class="main-content blog-entry">
    <article class="entry">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ entry.title }}</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p><i class="fa fa-calendar"></i> <time datetime="{{ entry.get_time_attribute }}" pubdate="pubdate">{{ entry.insertion_date|date:'d F Y' }}</time></p>
                </div>
                <div class="col-sm-6">
                    {% if entry.tags.count %}
                        <p class="text-right">
                            <i class="fa fa-tags"></i>
                            {% for tag in entry.tags.all %}
                            <a href="{% url 'blog-category-list' tag %}">{{ tag }}</a> 	
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="share clearfix">
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="float: right">
                    <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl={{ entry.get_full_absolute_url }}&amp;linkname={{ entry.title|urlencode }}"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <!-- <a class="a2a_button_google_plus"></a> -->
                    <a class="a2a_button_whatsapp"></a>
                </div>
                <script>
                var a2a_config = a2a_config || {};
                a2a_config.linkname = "{{ entry.title | escape }}";
                a2a_config.linkurl = "{{ entry.get_full_absolute_url }}";
                a2a_config.locale = "it";
                </script>
                <script async src="https://static.addtoany.com/menu/page.js" data-cookierulez="functionality" type="text/plain"></script>
                <!-- AddToAny END -->
            </div>
            {% sorl_thumbnail entry.image "800x300" crop="center" upscale=True as im %}
                <p>
                    <img src="{{ im.url }}" class="img-responsive" alt="img" />
                </p>
            {% endthumbnail %}
            {{ entry.text | safe }}
        </div>
    </div>
    {% if entry.get_related %}
        <div class="related" style="background: #fafafa; border: 1px solid #f5f5f5; padding: 1rem;">
            <h2 style="font-size: 1.5rem;">Potrebbe interessarti anche:</h2>
            <ul>
                {% for e in entry.get_related %}
                    <li>
                        <a href="{{ e.get_absolute_url }}">
                            {{ e.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </article>
    <aside class="comments" id="disqus-comments" style="margin-top: 2rem;">
        {% if entry.enable_comments %}
            {% disqus_show_comments %}
        {% endif %}
    </aside>
    <script>
    var closeNewsletterLayer = function () {
        window.localStorage.setItem('newsletterLayerSeen', new Date().getTime());
        $('#newsletter-overlay').removeClass('active');
        setTimeout(function () {
            $('#newsletter-overlay').removeClass('ready');
        }, 500)
    };
    (function($) {
        $(window).on('load', function () {
            var newsletterLayerSeen = window.localStorage.getItem('newsletterLayerSeen');
            if (!newsletterLayerSeen || (new Date().getTime() - newsletterLayerSeen) > 604800000) {
                var top = $('#disqus-comments').position().top;
                $(window).scroll(function() {
                    if (window.localStorage.getItem('newsletterLayerSeen')) {
                        return null;
                    }
                    var scrollTop = $(window).scrollTop();
                    if(scrollTop > 100 && (scrollTop + ($(window).height() / 2)) >= top) {
                        $('#newsletter-overlay').addClass('ready');
                        setTimeout(function () {
                            $('#newsletter-overlay').addClass('active');
                        }, 200)
                   }
                });
            }
        })
    })(jQuery)
    </script>
    <div class="newsletter-overlay" id="newsletter-overlay">
        <div class="newsletter-modal">
            <h3><b>Ti è piaciuto l'articolo?</b></h3>
            <p style="margin-top: 1rem;">Se ti interessa ricevere aggiornamenti su nuove convenzioni, promozioni e offerte riservate agli iscritti {{ SITE.UNION }} e ai loro famigliari iscriviti alla newsletter!</p>
            <p>
                <a href="javascript:void(0)" onclick="closeNewsletterLayer()" class="btn btn-custom" style="background: #fff; margin-right: 10px; color: #aaa;">non mi interessa</a>
                <a target="_blank" href="{{ SITE.NEWSLETTER_SUBSCRIBE_PAGE }}" onclick="closeNewsletterLayer()" class="btn btn-custom">voglio risparmiare!</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
