{% load sorl_thumbnail %}
{% if entry %}
    <section class="blog-featured">
        <h1>Convenzioni Blog</h1>
        <article class="entry">
            <p><i class="fa fa-calendar"></i> <time datetime="{{ entry.get_time_attribute }}" pubdate="pubdate">{{ entry.insertion_date|date:'d F Y' }}</time></p>
            {% sorl_thumbnail entry.image "800x300" crop="center" upscale=True as im %}
            <p><img src="{{ im.url }}" class="img-responsive" alt="img" /></p>
            {% endthumbnail %}
            <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
            {{ entry.text | safe | truncatewords_html:20 }}
            <p class="text-center"><a class="btn btn-custom" href="/blog">Leggi il Blog</a></p>
        </article>
    </section>
{% endif %}
