{% extends 'blog/archive.html' %}
{% load sorl_thumbnail %}
{% load bootstrap_pagination %}

{% block content %}
<section class="main-content card-list blog-card-list">
    <h1>Ricerca articoli</h1>
    {% if author or category or text %}
        <p>Hai cercato:</p>
    {% endif %}
    {% if author %}
    <p><b>Autore:</b> {{ author }}</p>
    {% endif %}
    {% if category %}
    <p><b>Categoria:</b> {{ category }}</p>
    {% endif %}
    {% if text %}
    <p><b>Testo:</b> {{ text }}</p>
    {% endif %}
    <p>
        <a href="javascript:void(0)" onclick="openMVSearchModal()">Modifica la ricerca</a>
        | <a href="/montievalli/">Tutti gli articoli</a>
    </p>
    <script>
        var openMVSearchModal = function () {
            var modal = new caitorino.Modal({
                title: 'Filtri di ricerca',
                url: '/montievalli/ricerca/',
                size: 'md'
            });
            modal.open();
        }
    </script>

    {% if object_list.count %}
        <div class="low-relevance-entries">
            <div class="row">
                {% for e in object_list %}
                    <div class="col-md-6 col-lg-3 low-relevance-entry">
                        <div class="card" onclick="location.href='{{ e.get_absolute_url }}'">
                            {% sorl_thumbnail e.image "750x400" crop="center" as im %}
                                <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                            {% endthumbnail %}
                            <div class="card-block">
                                <h4 class="card-title text-center">{{ e.title }}</h4>
                                {% if e.author %}
                                    <h6 class="text-center">{{ e.author }}</h6>
                                {% endif %}
                                <!-- <div class="text-center card-body"> -->
                                <!--     {{ e.text|safe|truncatewords_html:10 }} -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2%}
                        <div class="clearfix hidden-lg-up"></div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4%}
                        <div class="clearfix hidden-md-down"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
            {% bootstrap_paginate page_obj %}
        {% endif %}
    {% else %}
        <p class="alert alert-info">
            La ricerca non ha prodotto risultati
        </p>
    {% endif %}
</section>
{% endblock content %}
