<form action="{% url 'blog-search' %}" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label for="mvs-text" class="col-sm-4 col-form-label text-right">Testo:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="mvs-text" placeholder="" name="text" value="{{ text }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-right"></label>
      <div class="col-sm-6">
        <input type="submit" class="btn btn-primary" value="cerca" />
      </div>
    </div>
</form>
