<ection>
    <h1>Categorie</h1>
    <div class="article cloud">
    {% for tag in tags %}
        <a href="{% url 'blog-category-list' tag %}">{{ tag }}({{tag.count}})</a><br />
    {% endfor %}
    </div>
</ection>
