{% extends 'page.html' %}
{% load agreements_tags %}
{% load widget_tweaks %}

{% block title %}
Login | {{ block.super }}
{% endblock %}

{% block section1 %}
    <section class="section-1 agreements {% block section1_extra_class %}{% endblock %}">
        <div class="container">
            {% search_agreement_form %}
        </div>
    </section>
{% endblock %}

{% block section2_content %}
    <section>
        {% if user.is_authenticated %}
            <h1>Login</h1>
            <p>{{ user.username }}, sei già loggato!</p>
        {% else %}
            <h1>Login</h1>
            <p>Effettua il login per visualizzare contenuti privati.</p>
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username|attr:"class:form-control"|attr:"placeholder:Username" }}
            </div>
            <div class="form-group">
                {{ form.password|attr:"class:form-control"|attr:"placeholder:Password" }}
            </div>
            <div class="form-group">
                <p><input type="submit" value="login" class="btn btn-primary" /></p>
            </div>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/" />
            {% endif %}
            </form>
        {% endif %}
    </section>
{% endblock %}
