{% load static %}
{% load core_tags %}
{% if news.count %}
    <section class="evidence-showcase">
        <h1>{{ title }}</h1>
        {% for n in news %}
          <article class="{% if forloop.first %}active{% endif %}" data-news="{{ forloop.counter }}" style="background-image: url('{{ n.image.url }}')">
            <h1 class="text-center">
                {% if n.label %}
                    <i class="fa fa-2x {{ n.label.icon }}" style="color: {{ n.label.color }}"></i>
                {% endif %}
                {% if n.show_date %}<span>{{ n.date|date:'d/m/Y' }}</span> - {% endif %}<a href="{{ n.get_absolute_url }}">{{ n.title }}</a>
            </h1>
        </article>
        {% endfor %}
        <div class="ctrls">
            {% for n in news %}
                <span class="dot {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter }}"></span>
            {% endfor %}
        </div>
        <p class="readallp">
            <a title="archivio completo" class="btn btn-custom" data-toggle="tooltip" href="{% url 'news-archive' %}">tutte le notizie</a>
        </p>
    </section>
    <script>
        (function($, undefined) {
            var dots = $('.evidence-showcase .dot');
            var go = function (el) {
                var index = $(el).attr('data-index');
                $('.evidence-showcase article').removeClass('active');
                $('.evidence-showcase article[data-news=' + index + ']').addClass('active');
                $('.evidence-showcase .dot').removeClass('active');
                $(el).addClass('active');
            }
            dots.on('click', function(e) {
                go($(this));
            });

            var currentClickIndex = 1;
            setInterval(function () {
                if (currentClickIndex >= dots.length) {
                    currentClickIndex = 0;
                }
                go($(dots[currentClickIndex]));
                currentClickIndex++;
            }, 12000)
         })(jQuery);
    </script>
{% endif %}
