<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Chiudi</span>
            </button>
            <h4 class="modal-title">Inserimento notizia</h4>
        </div>
        <div class="modal-body">
            <p class="alert alert-info">La notizia "{{ news.title }}" è stata correttamente inserita</p>
        </div><!-- /.modal-body -->
     </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    setTimeout(function() {
        $('#modal').modal('hide');
    }, 2000);
</script>
