{% load i18n widget_tweaks %}
<div class="modal-dialog modal-lg" role="document">
    <form action="{% url 'news-create' %}" method="post" class="form" id="news-create" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Chiudi</span>
            </button>
            <h2 class="modal-title">Nuova notizia</h2>
        </div>
        <div class="modal-body">
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
                {% if field.name != 'slug' %}
                <fieldset class="form-group">
                    <label>
                        {% if field.field.required %}*{% else %}{% endif %}
                        {{ field.label_tag }}
                    </label>
                    {{ field.errors }}
                    {% if field.name == 'text' %}
                        <textarea name="text" id="id_text" class="form-control" required>{{ field.value|default_if_none:"" }}</textarea>
                    {% elif field.name == 'featured' or field.name == 'published' %}
                        {{ field|attr:"class:checkbox-inline" }}
                    {% else %}
                        {% if field.field.required %}
                            {{ field|attr:"class:form-control"|attr:"required:required" }}
                        {% else %}
                            {{ field|attr:"class:form-control" }}
                        {% endif %}
                    {% endif %}
                </fieldset>
                {% endif %}
            {% endfor %}
            <h3>Allegati</h3>
            {{ formset.management_form }}
            {% for form in formset %}
                {% if forloop.counter != 1 %}<hr />{% endif %}
                {% for field in form.visible_fields %}
                    <fieldset class="form-group">
                        {% if field.name == 'file' %}
                            <label>
                                {{ field.label_tag }}
                                {{ field.required }}
                            </label>
                            {{ field.errors }}
                            {{ field|attr:"class:form-control-file" }}
                        {% elif field.name == 'name' %}
                            <label>
                                {{ field.label_tag }}
                                {{ field.required }}
                            </label>
                            {{ field.errors }}
                            {{ field|attr:"class:form-control" }}
                        {% else %}
                        {% endif %}
                    </fieldset>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" id="save" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
            <input type="submit" class="btn btn-primary" value="Salva" />
        </div>
    </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
<script>
    $('#id_date').datepicker({
        //dateFormat: "dd/mm/yy"
    });
    var form_options = { target: '#modal', success: function(response) {
    } };
    $('#news-create').ajaxForm(form_options);
</script>

