{% extends 'page.html' %}
{% load news_tags %}

{% block title %}
{{ object.title }} | {{ block.super }}
{% endblock %}

{% block main_content %}
    <section>
        <h1>Eliminazione notizia</h1>
        <p>
            Conferma l'eliminazione della notizia:<br />
            <strong>{{ object.title }}</strong>
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="elimina" />
            <input type="button" class="btn btn-defaul" value="annulla" onclick="history.go(-1)" />
        </form>
    </section>
{% endblock %}

{% block sidebar %}
    {% news_showcase %}
{% endblock sidebar %}
