{% extends 'page.html' %}
{% load news_tags %}

{% block title %}
{{ object.title }} | {{ block.super }}
{% endblock %}

{% block meta_title %}{{ object.title|escape }}{% endblock %}
{% block meta_description %}{% autoescape on %}{{ object.text|striptags|slice:":152" }}...{% endautoescape %}{% endblock %}
{% block meta_og_title %}{{ object.title|escape }}{% endblock %}
{% block meta_og_description %}{% autoescape on %}{{ object.text|striptags|slice:":294" }}...{% endautoescape %}{% endblock %}
{% block meta_og_url %}{{ object.get_full_absolute_url|urlencode }}{% endblock %}
{% block meta_tw_title %}{{ object.title|escape }}{% endblock %}
{% block meta_tw_description %}{% autoescape on %}{{ object.text|striptags|slice:":197" }}...{% endautoescape %}{% endblock %}
{% block meta_tw_url %}{{ object.get_full_absolute_url|urlencode }}{% endblock %}
{% block meta_extra %}
    {% if object.image %}
        <meta name="og:image" content="{{ object.get_full_img_url }}" />
        <meta name="twitter:image" content="{{ object.get_full_img_url }}" />
    {% endif %}
{% endblock %}

{% block section2_content %}
    <section>
        <h1>{{ object.title }}</h1>
        {% if object.date and object.show_date %}
            <p><i class="fa fa-calendar"></i> {{ object.date }}</p>
        {% endif %}
        <div class="share clearfix">
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="float: right">
                <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl={{ object.get_full_absolute_url }}&amp;linkname={{ object.title|urlencode }}"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <!-- <a class="a2a_button_google_plus"></a> -->
                <a class="a2a_button_whatsapp"></a>
            </div>
            <script>
            var a2a_config = a2a_config || {};
            a2a_config.linkname = "{{ object.title | escape }}";
            a2a_config.linkurl = "{{ object.get_full_absolute_url }}";
            a2a_config.locale = "it";
            </script>
            <script async src="https://static.addtoany.com/menu/page.js" data-cookierulez="functionality" type="text/plain"></script>
            <!-- AddToAny END -->
            <a href="{% url 'news-archive' %}" class="btn btn-custom" style="float: left !important;">tutte le notizie</a>
        </div>
        {% if object.image %}
        <p><img src="{{ object.image.url }}" class="img-responsive" /></p>
        {% endif %}
        {% if object.label %}
            <i class="pull-right fa fa-2x {{ object.label.icon }}" style="color: {{ object.label.color }}"></i>
        {% endif %}
        {{ object.text|safe }}
        {% if object.attachments.count %}
            <h2>Documenti</h2>
            <ul class="padding-l10">
            {% for attachment in object.attachments.all %} 
                <li class="ext ext-{{ attachment.extension }}"><a href="{{ attachment.file.url }}">{{ attachment.name }}</a> ({{ attachment.size }})</li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}
