{% extends 'page.html' %}
{% load bootstrap_pagination %}

{% block title %}
Archivio notizie | {{ block.super }}
{% endblock %}

{% block section2_content %}
    <section>
        <h1>Archivio Notizie</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Tipo</th>
                <th>Notizia</th>
            </tr>
            {% for n in object_list %}
            <tr>
                <td>{% if n.label %}<i class="fa {{ n.label.icon }}" style="color: {{ n.label.color }}"></i>{% endif %}</td>
                <td><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
       {% comment %}FIXME add page numbers{% endcomment %}
        {% if is_paginated %}
            {% bootstrap_paginate page_obj range=10 %}
        {% endif %}
    </section>
{% endblock %}
