{% load static %}
{% load core_tags %}
{% if news.count %}
    <section class="{{ class }}-showcase" style="margin-bottom: 50px;">
        <h1>{{ title }}</h1>
        {% for n in news %}
        <article class="{% if forloop.first %}active{% endif %}" data-news="{{ forloop.counter }}">
            <h1>
                {% if n.label %}
                    <i class="fa fa-2x {{ n.label.icon }}" style="color: {{ n.label.color }}"></i>
                {% endif %}
                {% if n.show_date %}<span>{{ n.date|date:'d/m/Y' }}</span> - {% endif %}<a href="{{ n.get_absolute_url }}">{{ n.title }}</a>
            </h1>
            <div class="row">
                <div class="col-sm-4">
                    {% if n.image %}
                    <p>
                        <img class="img-responsive" src="{{ n.image.url }}" />
                    </p>
                    {% endif %}
                </div>
                <div class="col-sm-8 {{ class }}-showcase-text">
                    {{ n.text|strip_img|safe|truncatewords_html:40 }}
                    <strong class="readall"><a href="{{ n.get_absolute_url }}">continua</a></strong>
                </div>
            </div>
        </article>
        {% endfor %}
        <div class="ctrls">
            {% for n in news %}
                <span class="dot {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter }}"></span>
            {% endfor %}
        </div>
        <p class="text-right" style="position: absolute; bottom: -45px; right: 10px; z-index: 100;">
            <a title="archivio completo" class="btn btn-custom" data-toggle="tooltip" href="{% url 'news-archive' %}">tutte le notizie</a>
        </p>
    </section>
    <script>
        (function($, undefined) {
            var dots = $('.{{ class }}-showcase .dot');
            var go = function (el) {
                var index = $(el).attr('data-index');
                $('.{{ class }}-showcase article').removeClass('active');
                $('.{{ class }}-showcase article[data-news=' + index + ']').addClass('active');
                $('.{{ class }}-showcase .dot').removeClass('active');
                $(el).addClass('active');
            }
            dots.on('click', function(e) {
                go($(this));
            });

            var setHeight = function (init) {
                var height = 0;
                var articles = $('.{{ class }}-showcase article');
                var loaded = 0;
                articles.each(function (idx, article) {
                    if (init) {
                        $(article).find('img').on('load', function () {
                            height = Math.max(height, $(article).outerHeight());
                            loaded++;
                            if (loaded === articles.length) {
                                articles.css('height', height);
                            }
                        })
                    } else {
                        $(article).css('height', 'auto');
                        height = Math.max(height, $(article).outerHeight());
                    }
                });
                if (!init) {
                    articles.css('height', height);
                }
            }

            setHeight(true);
            $(window).on('resize', function () { setHeight() });

            var currentClickIndex = 1;
            setInterval(function () {
                if (currentClickIndex >= dots.length) {
                    currentClickIndex = 0;
                }
                go($(dots[currentClickIndex]));
                currentClickIndex++;
            }, 12000)
         })(jQuery);
    </script>
{% endif %}
