{% load widget_tweaks %}
<section>
    {{ company.coupon_form_text|safe }}
    <form action="{% url 'agreements-coupon' company.id %}" method="POST" style="margin-top: 20px;" id="coupon-form">
        {% csrf_token %}
        <div class="form-group">
            {% for err in form.coupon_firstname.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {{ form.coupon_firstname|attr:"class:form-control"|attr:"placeholder:Nome"|attr:"required" }}
        </div>
        <div class="form-group">
            {% for err in form.coupon_lastname.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {{ form.coupon_lastname|attr:"class:form-control"|attr:"placeholder:Cognome"|attr:"required" }}
        </div>
        <div class="form-group">
            {% for err in form.coupon_email.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {{ form.coupon_email|attr:"class:form-control"|attr:"placeholder:E-mail"|attr:"required" }}
        </div>
        <div class="form-group">
            {% for err in form.coupon_phone.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {{ form.coupon_phone|attr:"class:form-control"|attr:"placeholder:Cellulare"|attr:"required" }}
        </div>
        <div class="form-group">
            {% for err in form.coupon_category.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {% with "placeholder:Categoria "|add:SITE.UNION|add:" di appartenenza" as ph %}
            {{ form.coupon_category|attr:"class:form-control"|attr:ph|attr:"required" }}
            {% endwith %}
        </div>
        <div class="form-group">
            {% for err in form.coupon_cap.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {{ form.coupon_cap|attr:"class:form-control"|attr:"placeholder:CAP di residenza"|attr:"required" }}
        </div>
        <div class="form-group">
            {% for err in form.coupon_terms.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            <label>
                {{ form.coupon_terms|attr:"required" }} Ho letto ed accetto le <a href="/cookie-policy/" target="_blank">condizioni sulla privacy</a>
            </label>
        </div>
        <div class="form-group">
            <label for=""><strong>Codice di controllo</strong></label><br />
            {% for err in form.coupon_captcha.errors %}
                <div><strong>{{ err }}</strong></div>
            {% endfor %}
            {{ form.coupon_captcha }}
        </div>
    </form>
    <script>
        var form_options = { target: '#dynamic-modal-body', success: function(response) {} };
        $('#coupon-form').ajaxForm(form_options);
    </script>
</section>
