{% extends 'page.html' %}
{% load sorl_thumbnail %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
{{ company.name }} | {{ block.super }}
{% endblock %}

{% block meta_title %}{{ company.name|escape }}{% endblock %}
{% block meta_description %}{% autoescape on %}{{ company.text|striptags|slice:":152" }}...{% endautoescape %}{% endblock %}
{% block meta_og_title %}{{ company.name|escape }}{% endblock %}
{% block meta_og_description %}{% autoescape on %}{{ company.text|striptags|slice:":294" }}...{% endautoescape %}{% endblock %}
{% block meta_og_url %}{{ company.get_full_absolute_url|urlencode }}{% endblock %}
{% block meta_tw_title %}{{ company.name|escape }}{% endblock %}
{% block meta_tw_description %}{% autoescape on %}{{ company.text|striptags|slice:":197" }}...{% endautoescape %}{% endblock %}
{% block meta_tw_url %}{{ poin.get_full_absolute_url|urlencode }}{% endblock %}

{% block meta_extra %}
    {% if company.has_expired %}
        <meta name="robots" content="noindex">
    {% endif %}
    {% if company.date_to %}
        <meta name="GOOGLEBOT" content="unavailable_after: {{ company.date_to|date:"d-M-Y 23:59:59" }} CET">
    {% endif %}
{% endblock meta_extra %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/src/vendor/Gallery/css/blueimp-gallery.min.css'%}" />
    <style>
        .blueimp-gallery > .description {
          position: absolute;
          top: 60px;
          left: 15px;
          color: #fff;
          display: none;
          background: rgba(0, 0, 0, 0.8);
          max-width: 400px;
        }
        .blueimp-gallery > .title {
          background: rgba(0, 0, 0, 0.8);
        }
        .blueimp-gallery > .prev, .blueimp-gallery > .next {
            color: transparent;
            border: none;
        }
        .blueimp-gallery > .prev:hover, .blueimp-gallery > .next {
            color: transparent;
        }
        .blueimp-gallery > .prev:before {
            content: "";
            color: #fff;
            font-family: 'FontAwesome';
        }
        .blueimp-gallery > .next:before {
            content: "";
            color: #fff;
            font-family: 'FontAwesome';
        }

        .blueimp-gallery-controls > .description {
          display: block;
        }
        #links a {
            margin-bottom: 20px;
            display: inline-block;
            max-width: 100%;
        }
        .thumb-video {
            position: relative;
        }
        .thumb-video:before {
            content: '';
            background: rgba(0, 0, 0, 0) url("/static/core/src/vendor/Gallery/img/video-play.png") no-repeat scroll center center;
            cursor: companyer;
            height: 64px;
            left: 50%;
            margin-top: -32px;
            margin-left: -32px;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            width: 64px;
        }
    </style>
{% endblock %}

{% block schema %}
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": "{{ company.name|escapejs }}",
    "description": "{{ company.summary|truncatewords_html:20|striptags|escapejs }}",
    {% if company.image %}
        "image": "{{ company.image_abs }}",
    {% endif %}
    {% if company.phone %}
        "telephone": "{{ company.phone }}",
    {% endif %}
    {% if company.email %}
        "email": "{{ company.email }}",
    {% endif %}
    {% if company.web %}
        "sameAs": "{{ company.web }}",
    {% endif %}
    "contactPoint": [
        {% if h_points.count %}
        {% for p in h_points %}
        { "@type": "ContactPoint",
          {% if p.phone %}
            "telephone": "{{ p.phone }}",
          {% endif %}
          {% if p.email %}
            "email": "{{ p.email }}",
          {% endif %}
          {% if p.web %}
            "url": "{{ p.web }}",
          {% endif %}
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ p.address|escapejs }}",
            "addressLocality": "{{ p.city }}",
            "postalCode": "{{ p.cap }}"
          }
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
    ]
}
</script>
{% endblock schema %}

{% block section1_extra_class %}{% endblock %}

{% block section2_content %}
    <section class="agreements-detail">
        <h1>{{ company.name }}</h1>
        <div class="share clearfix">
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="float: right">
                <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl={{ company.get_full_absolute_url }}&amp;linkname={{ company.name|urlencode }}"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <!-- <a class="a2a_button_google_plus"></a> -->
                <a class="a2a_button_whatsapp"></a>
            </div>
            <script>
            var a2a_config = a2a_config || {};
            a2a_config.linkname = "{{ company.name | escape }}";
            a2a_config.linkurl = "{{ company.get_full_absolute_url }}";
            a2a_config.locale = "it";
            </script>
            <script async src="https://static.addtoany.com/menu/page.js" data-cookierulez="functionality" type="text/plain"></script>
            <!-- AddToAny END -->
        </div>
        <h6 class="text-muted" style="margin: 20px 0">{{ company.categories_txt }}</h6>
        {% if company.has_expired %}
            <p class="alert alert-info"><b>La convenzione</b> che stavi cercando <b>è scaduta</b>, ma non è detto che non venga riattivata, torna presto a controllare!</p>
            
        {% else %}
        <!-- Nav tabs -->
        <div class="hidden-md-down">
            <ul class="nav nav-tabs" role="tablist" id="company-tab">
                <li class="nav-item">
                    <a data-tab="0" class="nav-link active" data-toggle="tab" href="#info" role="tab">Descrizione</a>
                </li>
                <li class="nav-item">
                    <a data-tab="1" class="nav-link nav-contacts" data-toggle="tab" href="#contatti" role="tab">Contatti</a>
                </li>
                <li class="nav-item">
                    <a data-tab="2" class="nav-link" data-toggle="tab" href="#dove" role="tab">Dove si trova</a>
                </li>
                {% if company.attachments.count %}
                    <li class="nav-item">
                        <a data-tab="3" class="nav-link" data-toggle="tab" href="#docs" role="tab">Allegati</a>
                    </li>
                {% endif %}
                {% if company.videos.site.count %}
                    <li class="nav-item">
                        <a data-tab="4" class="nav-link" data-toggle="tab" href="#video" role="tab">Video</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="hidden-lg-up">
            <p>
                <select id="company-tab-select" class="" name="">
                    <option value="0">Descrizione</option>
                    <option value="1">Contatti</option>
                    <option value="2">Dove</option>
                    {% if company.attachments.count %}
                        <option value="3">Allegati</option>
                    {% endif %}
                    {% if company.videos.site.count %}
                        <option value="4">Video</option>
                    {% endif %}
                </select>
            </p>
        </div>
        <script type="text/{% if DEBUG %}javascript{% else %}plain{% endif %}" data-cookierulez="functionality">
            $('#company-tab-select').val('0');
            $('#company-tab-select').on('change', function() {
                var option = $(this).find(":selected");
                if ($(option).attr('value') == 2) {
                    google.maps.event.trigger(map, 'resize');
                    map.fitBounds(bounds);
                }
                $('#company-tab li a[data-tab=' + $(this).val() + ']').tab('show')
            })
        </script>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="info" role="tabpanel">
                <!-- <div class="lead">{{ company.summary|safe }}</div> -->
                {{ company.text|safe }}
                {% if company.coupon_form %}
                    {% if company.coupon_btn_text %}
                        {{ company.coupon_btn_text|safe }}
                    {% endif %}
                    <p class="text-center"><a class="btn btn-custom" style="font-weight: bold;" href="javascript:void(0)" name="codice-sconto" onclick="openCouponFormModal()">Richiedi il codice sconto</a></p>
                {% endif %}
                {% if company.images.site.count %}
                    {% if company.slideshow %}
                        <div id="carousel-images" class="carousel slide" data-interval="4000" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {% for image in company.images.site %}
                                    {% if not image.use_in_card %}
                                    {% sorl_thumbnail image.file "680x433" crop="center" as im %}
                                        <div class="carousel-item">
                                            <img data-src="{{ im.url }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        </div>
                                    {% endthumbnail %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-images" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Precedente</span>
                            </a>
                            <a class="right carousel-control next-ctrl" href="#carousel-images" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">Successiva</span>
                            </a>
                        </div>
                        <script>
                            $('.carousel-item').first().addClass('active');
                        </script>
                    {% else %}
                    <!-- gallery -->
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <p class="description"></p>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                    <div id="links">
                        <div class="row">
                            {% for image in company.images.site %}
                            {% if not image.use_in_card %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <a href="{{ image.file.url }}" title="{{ image.title }}">
                                    {% sorl_thumbnail image.file "200x150" crop="center" as im %}
                                        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <script>
                    document.getElementById('links').onclick = function (event) {
                        event = event || window.event;
                        var onslide = function (index, slide) {
                            var text = this.list[index].getAttribute('data-description'),
                                node = this.container.find('.description');
                            node.empty();
                            if (text) {
                                node[0].appendChild(document.createTextNode(text));
                            }
                        }
                        var target = event.target || event.srcElement,
                            link = target.src ? target.parentNode : target,
                            options = {index: link, event: event, onslide: onslide},
                            links = this.getElementsByTagName('a');
                        blueimp.Gallery(links, options);
                    };
                    </script>
                    {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane" id="contatti" role="tabpanel">
                <p class="two-columns">
                    {% if company.phone %}
                    <i class="fa fa-phone"></i> <a href="tel:{{ company.phone }}">{{ company.phone }}</a><br />
                    {% endif %}
                    {% if company.mobile %}
                    <i class="fa fa-mobile"></i> <a href="tel:{{ company.mobile }}">{{ company.mobile }}</a><br />
                    {% endif %}
                    {% if company.whatsapp %}
                    <i class="fa fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone={{ company.whatsapp }}">{{ company.whatsapp }}</a><br />
                    {% endif %}
                    {% if company.email %}
                    <i class="fa fa-envelope"></i> <a href="mailto:{{ company.email }}">{{ company.email }}</a><br />
                    {% endif %}
                    {% if company.web %}
                    <i class="fa fa-link"></i> <a href="{{ company.web }}" target="_blank">{{ company.web }}</a><br />
                    {% endif %}
                    {% if company.fb %}
                    <i class="fa fa-facebook-square"></i> <a href="{{ company.fb }}" target="_blank">pagina facebook</a><br />
                    {% endif %}
                </p>
                {% if company.email and company.contact_form %}
                    <p>Per comunicare con {{ company.name }} compila il form sottostante:</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.fc_email|attr:"class:form-control"|attr:"placeholder:E-mail" }}
                        </div>
                        <div class="form-group">
                            {{ form.fc_text|attr:"class:form-control"|attr:"placeholder:Scrivi qui il tuo messaggio"|attr:"rows:4" }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ form.terms }} Ho letto ed accetto le <a href="/cookie-policy/" target="_blank">condizioni sulla privacy</a>
                            </label>
                            {% for err in form.terms.errors %}
                                <div class="alert alert-danger">{{ err }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.captcha }}
                            {% for err in form.captcha.errors %}
                                <div class="alert alert-danger">{{ err }}</div>
                            {% endfor %}
                        </div>
                        <p>
                            <input type="submit" class="btn btn-custom" value="invia" name="fc_submit" />
                        </p>
                    </form>
                    <script type="text/javascript">
                        setTimeout(function () {
                            var hash = window.location.hash;
                            if (hash == '#ok') {
                                var modal = new core.Modal({
                                    title: 'Contatto venditore',
                                    content: 'Il tuo messaggio è stato correttamente inoltrato',
                                    size: 'md'
                                });
                                modal.open();
                                window.location.hash = '';
                            }
                        }, 500);
                    </script>
                {% endif %}
            </div>
            <div class="tab-pane" id="dove" role="tabpanel">
                {% if company.textual_address %}
                    {{ company.textual_address|safe }}
                {% endif %}
                {% if h_points.count %}
                    <dl>
                        {% for p in h_points %}
                        <dt>
                            {% if p.lat and p.lng %}
                            <a href="javascript:void(0)" onclick="core.scrollTo('a[name=mappa]');gotoPoint({{ p.id }})"><i class="fa fa-map-marker"></i></a>
                            {% endif %}
                            {{ p.address }}, {{ p.cap|default_if_none:'' }} {{ p.city }} ({{ p.province.abbreviation }})
                        </dt>
                        <dd>
                            <p class="two-columns">
                                {% if p.phone %}
                                <i class="fa fa-phone"></i> <a href="tel:{{ p.phone }}">{{ p.phone }}</a><br />
                                {% endif %}
                                {% if p.mobile %}
                                <i class="fa fa-mobile"></i> <a href="tel:{{ p.mobile }}">{{ p.mobile }}</a><br />
                                {% endif %}
                                {% if p.whatsapp %}
                                <i class="fa fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone={{ p.whatsapp }}">{{ p.whatsapp }}</a><br />
                                {% endif %}
                                {% if p.email %}
                                <i class="fa fa-envelope"></i> <a href="mailto:{{ p.email }}">{{ p.email }}</a><br />
                                {% endif %}
                                {% if p.web %}
                                <i class="fa fa-link"></i> <a href="{{ p.web }}" target="_blank">{{ p.web }}</a><br />
                                {% endif %}
                            </p>
                            {% if p.text %}
                            {{ p.text|safe }}
                            {% endif %}
                        </dd>
                        {% endfor %}
                    </dl>
                {% endif %}
                {% if o_points.count %}
                    <h3>In altre regioni/province</h3>
                    <dl>
                        {% for p in o_points %}
                        <dt>
                            {% if p.lat and p.lng %}
                            <a href="javascript:void(0)" onclick="core.scrollTo('a[name=mappa]');gotoPoint({{ p.id }})"><i class="fa fa-map-marker"></i></a>
                            {% endif %}
                            {{ p.address }}, {{ p.cap|default_if_none:'' }} {{ p.city }} ({{ p.province.abbreviation }})
                        </dt>
                        <dd>
                            <p class="two-columns">
                                {% if p.phone %}
                                <i class="fa fa-phone"></i> <a href="tel:{{ p.phone }}">{{ p.phone }}</a><br />
                                {% endif %}
                                {% if p.email %}
                                <i class="fa fa-envelope"></i> <a href="mailto:{{ p.email }}">{{ p.email }}</a><br />
                                {% endif %}
                                {% if p.web %}
                                <i class="fa fa-link"></i> <a href="{{ p.web }}" target="_blank">{{ p.web }}</a><br />
                                {% endif %}
                            </p>
                            {% if p.text %}
                            {{ p.text|safe }}
                            {% endif %}
                        </dd>
                        {% endfor %}
                    </dl>
                {% endif %}
                <h2 class="not-visible"><a name="mappa">Mappa</a></h2>
                <div class="agreements-map" id="map-canvas"></div>
                <script>
                    var map, bounds, pointsNumber;
                    var markers = {};
                    var infowindows = [];
                    window.initializeMap = function() {
                        map = new google.maps.Map(document.getElementById('map-canvas'), {
                            zoom: 8
                        });
                        bounds = new google.maps.LatLngBounds();
                        pointsNumber = 0;
                        var firstMarker = null;
                        {% for p in company.points.all %}
                            {% if p.lat and p.lng %}
                                pointsNumber += 1;
                                var marker{{ forloop.counter }} = new google.maps.Marker({
                                    position: {lat: {{ p.lat }}, lng: {{ p.lng }}},
                                    map: map,
                                    title: "{{ p.address|escape }}"
                                });
                                markers[{{ p.id }}] = marker{{ forloop.counter }};
                                {% if forloop.counter0 == 0 %}
                                    firstMarker = marker{{ forloop.counter }};
                                {% endif %}
                                var infoWindow{{ forloop.counter }} = new google.maps.InfoWindow({
                                    content: "{{ p.address|escape }}"
                                });
                                infowindows.push(infoWindow{{ forloop.counter }});
                                google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function () {
                                    infoWindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
                                });
                                bounds.extend({lat: {{ p.lat }}, lng: {{ p.lng }}});
                            {% endif %}
                        {% endfor %}
                        if (pointsNumber == 1) {
                            map.setCenter(firstMarker.getPosition());
                            map.setZoom(14);
                        } else {
                            map.fitBounds(bounds);
                        }
                        if (infowindows.length == 0) {
                            $('#map-canvas').hide();
                        }
                    }
                    $('a[href="#dove"]').on('shown.bs.tab', function(e) {
                        google.maps.event.trigger(map, 'resize');
                        if (pointsNumber == 1) {
                            map.setCenter(firstMarker.getPosition());
                            map.setZoom(14);
                        } else {
                            map.fitBounds(bounds);
                        }
                    });
                    gotoPoint = function(id) {
                        map.setCenter(markers[id].getPosition());
                        for (var i=0, l=infowindows.length; i<l; i++) {
                            infowindows[i].close();
                        }
                        google.maps.event.trigger(markers[id], 'click');
                    }
                </script>
            </div>
            {% if company.attachments.count %}
                <div class="tab-pane" id="docs" role="tabpanel">
                    <ul>
                        {% for attachment in company.attachments.all %}
                        <li class="doc doc-{{ attachment.extension }}"><a href="{{ attachment.file.url }}">{{ attachment.name }} ({{ attachment.size }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if company.videos.site.count %}
                <div class="tab-pane" id="video" role="tabpanel">
                    {% for video in company.videos.site %}
                    <div class="video-wrapper" style="margin-bottom: 20px;">
                        <iframe width="{{ video.width }}" height="{{ video.height }}"
                                data-cookierulez="marketing" data-src="https://www.youtube.com/embed/{{ video.code }}">
                        </iframe>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endif %}
        {% if from_form %}
            <script>
                $('#company-tab a.nav-contacts').tab('show') 
            </script>
        {% endif %}
    </section>

    <script>
var openCouponFormModal = function () {
    modal = new core.Modal({
        title: 'Modulo richiesta codice sconto',
        url: '{% url 'agreements-coupon' company.id %}',
        size: 'md',
        show_action_btn: true,
        action_btn_cb: function () {
            $('#coupon-form').submit()
        }
    });
    modal.open()
}
setTimeout(function () {
    var hash = window.location.hash;
    if (hash == '#codice-sconto') {
        openCouponFormModal()
        window.location.hash = '';
    }
}, 500);
    </script>

    <script type="text/{% if DEBUG %}javascript{% else %}plain{% endif %}" data-cookierulez="functionality" src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initializeMap"></script>
{% endblock %}
