{% extends 'page.html' %}
{% load agreements_tags %}
{% load sorl_thumbnail %}

{% block title %}
Convenzioni | {{ block.super }}
{% endblock %}

{% block section1 %}
    <section class="section-1 agreements {% block section1_extra_class %}{% endblock %}">
        <div class="container">
            {% search_agreement_form category %}
        </div>
    </section>
{% endblock %}

{% block section2_content %}
    <section class="agreements-list">
        <h1>Convenzioni</h1>
        {% if companies.count > 10 %}
            <p class="alert alert-info">
                <strong>Troppi risultati?</strong> Affina la tua ricerca!
            </p>
        {% endif %}
        {% if companies.count %}
        <div class="card-columns">
            {% for company in companies %}
                    <div class="card text-xs-center" style="cursor: pointer;" onclick="location.href='{% url 'agreements-detail' company.slug company.pk %}'">
                        <div class="card-header">
                            {% if company.visibility_italy %}
                                <strong>Convenzione nazionale</strong>
                            {% else %}
                                <strong>{{ company.cities_txt }}</strong>
                            {% endif %}
                        </div>
                        {% if company.images.site.count %}
                            <a href="{% url 'agreements-detail' company.slug company.pk %}">
                            {% sorl_thumbnail company.image "460x200" crop="center" as im %}
                                <img class="img-responsive" src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                            </a>
                        {% endif %}
                        <div class="card-block">
                            <h4 class="card-title">{{ company.name }}</h3>
                            {{ company.summary|safe }}
                        </div>
                        <div class="card-footer">
                            <strong>{{ company.categories_txt }}</strong>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <p class="warning">La ricerca non ha prodotto risultati</p>
        {% endif %}
    </section>
{% endblock %}
