<section>
    <form action="{% url 'agreements-list' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-5 col-lg-5 col-1">
                <h1>Ricerca la tua convenzione</h1>
                <p>Per categoria merceologica:</p>
                <div class="form-group">
                    <select name="sa_category" class="c-select" id="sa_id_category">
                        <option value=''>Scegli e clicca su "trova"</option>
                        {% for ctg in categories %}
                            <option value="{{ ctg.id }}"{% if category_id == ctg.id %}selected="selected"{% endif %}>{{ ctg }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="trova" class="btn btn-custom submit-col-1" name="sa_submit">
                </div>
            </div>
            <div class="col-sm-5 col-lg-5 col-2">
                <p>puoi anche affinare la ricerca:</p>
                <div class="form-group">
                    <select name="sa_region" class="c-select" id="sa_id_region" style="display: inline-block; margin-bottom: 8px;">
                        <option value=''>Scegli una regione</option>
                        {% for region in regions %}
                        <option value="{{ region.id }}"{% if region_id == region.id %}selected="selected"{% endif %}>
                        {% if site_id == 3 and region.id == 1 %}
                            {{ region|lower|capfirst }}
                        {% else %}
                            {{ region }}
                        {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="sa_province" class="c-select" id="sa_id_province" style="display: inline-block; margin-bottom: 8px;">
                        <option value=''>Scegli una provincia</option>
                        {% for province in provinces %}
                            <option data-region="{{ province.region.id }}" value="{{ province.id }}"{% if province_id == province.id %}selected="selected"{% endif %}>{{ province }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p>o cercare per nome prodotto/servizio</p>
                <div class="form-group">
                    <input name="sa_keyword" style="width: auto; display: inline-block;" size="24" type="text" id="sa_id_keyword" value="{{ keyword }}" class="text form-control" placeholder="scrivi qui il nome di un prodotto" />
                    <input type="submit" value="trova" class="btn btn-custom submit-col-2" name="sa_submit">
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        (function() {

            var selectRegion = function(regionId, provinceId) {
                if(!provinceId) {
                    $('#sa_id_province').val('');
                }
                $('#sa_id_province option').each(function(index, p) {
                    var region = $(p).attr('data-region');
                    if(region === regionId || !regionId) {
                        $(p).css('display', '');
                    }
                    else {
                        $(p).css('display', 'none');
                    }
                })
            }

            var selectProvince = function (provinceId) {
                var province = $('#sa_id_province option[value=' + provinceId + ']');
                var regionId = $(province).attr('data-region');
                $('#sa_id_region').val(regionId);
            }

            $('#sa_id_region').on('change', function() {
                var regionId = $(this).val();
                selectRegion(regionId);
            })

            $('#sa_id_province').on('change', function() {
                var provinceId = $(this).val();
                selectProvince(provinceId);
            })

            var initRegion = $('#sa_id_region').val();
            var initProvince = $('#sa_id_province').val();
            if(initRegion) {
                selectRegion(initRegion, initProvince);
            }
            else if (initProvince) {
                selectProvince(initProvince)
            }
        })()
    </script>
</section>
