{% extends "admin/change_form.html" %}
{% load i18n %} 
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3&key={{ MAPS_API_KEY }}"></script>
<script src="/static/core/src/js/geodrawer.min.js"></script>
<style>
    .geodrawer-fullscreen {
        z-index: 1000;
    }
</style>
<script type="text/javascript">
    django.jQuery(window).load(function() {	

        var mymap;
        var center = null;

        function fillFields(data) {
            $('#id_lat').val(data.point[0].lat);
            $('#id_lng').val(data.point[0].lng);
        }

        var cb = function() {
            mymap = new geodrawer.Map('#map_canvas', {
                exportMapCb: fillFields,
                zoom: 12,
                center: [45.0705624, 7.6853564]
            }).render();
            // init tools
            var ptool = new geodrawer.PointTool(mymap, null);
            mymap.addTool(ptool);
            ptool.activate().setDrawing()

            mymap.gmap().setMapTypeId(google.maps.MapTypeId.ROADMAP);

            $('#map-container').detach().appendTo($('.suit-tab-location')[0]);
            $('#map-container').css('left', '0');
            $('#map-container').css('position', 'static');
            $(window).on('hashchange', function() {
                if(window.location.hash == '#location') {
                    google.maps.event.trigger(mymap.gmap(), 'resize');
                    if(center && center.length == 2) {
                        mymap.setCenter(center);
                    }
                }
            });

            // import
            if($('#id_lat').val() && $('#id_lng').val()) {
                var data = {'point': [{lat: $('#id_lat').val(), lng: $('#id_lng').val() }]};
                mymap.importMap(data);
                center = [$('#id_lat').val(), $('#id_lng').val()];
                dtool = 'point';
            }
        }

        geodrawer.ready(cb)
    })
</script>
{% if not change %}
<script>
    function slugify(str)
    {
        str = str.replace(/^\s+|\s+$/g, ''); // trim
        str = str.toLowerCase();

        // remove accents, swap ñ for n, etc
        var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
        var to   = "aaaaeeeeiiiioooouuuunc------";

        for (var i=0, l=from.length ; i<l ; i++)
            str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));


        str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
            .replace(/\s+/g, '-') // collapse whitespace and replace by -
            .replace(/-+/g, '-'); // collapse dashes

        return str;
    }
    // fix prepopulate
    $(window).on('load', function () {
        $('#id_name').on('keyup', function () {
            var val = $(this).val();
            var slug = slugify(val);
            $('#id_slug').val(slug);
        })
    })
</script>
{% endif %}
{% endblock %}

{% block after_field_sets %}
<!-- GOOGLE MAP -->
<div id="map-container" class="form-row" style="background: #fff; position: absolute; left: -2000px; margin-top: 40px;padding: 20px;">
    <h2 style="padding: 20px 0;">{% trans "Utilizza la mappa per geolocalizzare il punto convenzionato. Segui la seguente procedura:" %}</h2>
    <ul style="margin-bottom: 20px;">
        <li>{% trans "Clicca sulla mappa per inserire un marker e trascinalo nella posizione desiderata, oppure scrivi l'indirizzo esatto nel campo di testo nel menu e poi premi il bottone 'draw'"%}</li>
        <li>{% trans "Quando il marker si trova nella posizione desiderata clicca la voce di menu 'export map'"%}</li>
    </ul>
    <div id="map_canvas" style="width:100%; height: 600px; margin: auto;"></div>
</div>
<!-- END -->
{% endblock %}

