{% extends 'page.html' %}
{% load core_tags %}

{% block title %}
{{ flatpage.title }} | {{ block.super }}
{% endblock %}

{% block meta_title %}{{ flatpage.title|escape }}{% endblock %}
{% block meta_description %}{% autoescape on %}{{ flatpage.content|striptags|slice:":152" }}...{% endautoescape %}{% endblock %}
{% block meta_og_title %}{{ flatpage.title|escape }}{% endblock %}
{% block meta_og_description %}{% autoescape on %}{{ flatpage.content|striptags|slice:":294" }}...{% endautoescape %}{% endblock %}
{% block meta_og_url %}{{ flatpage.get_absolute_url|abs_url }}{% endblock %}
{% block meta_tw_title %}{{ flatpage.title|escape }}{% endblock %}
{% block meta_tw_description %}{% autoescape on %}{{ flatpage.content|striptags|slice:":197" }}...{% endautoescape %}{% endblock %}
{% block meta_tw_url %}{{ flatpage.get_absolute_url|abs_url }}{% endblock %}

{% block section2_content %}
    <section>
        <h1>{{ flatpage.title }}</h1>
        {{ flatpage.content }}
        <div class="share">
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl={{ flatpage.get_absolute_url|abs_url|urlencode }}&amp;linkname={{ flatpage.title|urlencode }}"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_plus"></a>
            <a class="a2a_button_whatsapp"></a>
            </div>
            <script>
            var a2a_config = a2a_config || {};
            a2a_config.linkname = "{{ flatpage.title | escape }}";
            a2a_config.linkurl = "{{ flatpage.get_absolute_url|abs_url }}";
            a2a_config.locale = "it";
            </script>
            <script async src="https://static.addtoany.com/menu/page.js" data-cookierulez="functionality" type="text/plain"></script>
            <!-- AddToAny END -->
        </div>
    </section>
{% endblock %}
