{% load treenav_tags i18n %}
{% if menuitem.enabled_children %}
<ul id="menu{% if menuitem.node.slug %}-{{ menuitem.node.slug }}{% endif %}" class="clearfix nav navbar-nav depth-{{ menuitem.node.level }}{% if menuitem.node.level != 0 %} dropdown-menu{% endif %}">
    {% if menuitem.node.slug == 'menu-principale' %}
        <li class="nav-item"><a class="nav-link inactive-menu-item-link top-level-link" href="/"><i class="fa fa-home" ></i></a></li>
    {% endif %}
    {% for item in menuitem.enabled_children %}
    <li data-placement="right" data-title="{{ item.node.label }}" id="menu-item-{{ item.node.slug }}" class="nav-item  {% if item.active %}active{% else %}inactive{% endif %}-menu-item{% if not menuitem.node.is_root_node %} {{ menuitem.node.slug }}-child{% else %} top-level{% endif %}">
        <a class="nav-link {% if item.active %}active{% else %}inactive{% endif %}-menu-item-link{% if not menuitem.node.is_root_node %} {{ menuitem.node.slug }}-child-link{% else %} top-level-link{% endif %}{% if item.node.children.count %} dropdown-toggle{% endif %}" {% if item.node.children.count %}data-toggle="dropdown"{% endif %}  href="{% if item.node.href %}{{ item.node.href }}{% else %}#{% endif %}" title="{{ item.node.label }}">{{ item.node.label }}</a>
        {% if item.active or full_tree %}{% if not single_level %}
            {% render_menu_children item %}
        {% endif %}{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
